.search_wrapper {
    width: 36rem;
    display: flex;
    align-items: center;
    background-color: var(--color-gray);
    border: 1.5px solid transparent;
    border-radius: 999px;
    box-shadow: 1px 1px 2px var(--color-icon);
    overflow: hidden;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;

    &:focus {
        border-color: var(--color-primary);
    }

    .search_icon {
        font-size: 1.6rem;
        padding: 0.6rem;
        margin-left: 0.6rem;
        color: var(--color-icon);
        cursor: default;
    }
    .search_input {
        height: 100%;
        flex: 1;
        background-color: var(--color-gray);
        color: var(--color-black);
        font-size: 1.6rem;
        text-indent: 0.8rem;
    }
    .clear_icon {
        text-align: right;
        font-size: 1.7rem;
        color: var(--color-icon);
        margin-right: 1.2rem;
        cursor: pointer;

        &:hover {
            opacity: 0.7;
        }
    }
}
