.wrapper {
    position: relative;
    width: 110rem;
    min-height: 50rem;
    background-color: var(--color-white);
    margin: auto;
    border: 1px solid transparent;
    border-radius: var(--default-border-radius);
    box-shadow: 1px 1px 2px var(--box-shadow-default);
    z-index: 20;

    .form_label {
        color: var(--color-icon);
        font-size: 1.6rem;
        padding: 0.6rem 0;
    }
    .form_text {
        color: var(--color-black);
        font-size: 1.6rem;
        padding: 0 2rem;
    }
    .form_input {
        color: var(--color-black);
        background-color: var(--color-white);
        border: 1px solid var(--color-black);
        text-indent: 0.8rem;
        padding: 0.6rem 0;
        width: 100%;

        &:focus {
            border-color: var(--color-primary);
        }
    }
    .btn_choose_image {
        padding: 0.6rem 2rem;
        font-size: 1.6rem;
        background-color: var(--color-primary);
        color: var(--color-white);
        border: 1px solid transparent;
        cursor: pointer;

        &:hover {
            opacity: 0.7;
        }
    }
    .form_input_date {
        color: var(--color-black);
        background-color: var(--color-white);
        border: 1px solid var(--color-black);
        padding: 0.6rem 0.6rem;
        width: 100%;

        &:focus {
            border-color: var(--color-primary);
        }
    }
    .form_input_description {
        color: var(--color-black);
        background-color: var(--color-white);
        border: 1px solid var(--color-black);
        outline: none;
        width: 100%;

        &:focus {
            outline: none;
            border-color: var(--color-primary);
        }
    }
    .avatar {
        width: 16rem;
        height: 16rem;
        object-fit: cover;
        border-radius: 50%;
    }
    .form_option {
        font-size: 1.6rem;
        padding: 0.8rem 0;

        &:focus {
            outline: none;
        }

        .form_option_item {
            font-size: 1.6rem;
            color: var(--color-black);
        }
    }
    .arrow_down_icon {
        color: var(--color-black);
        padding: 0 0.6rem;
        font-size: 1.6rem;
    }
}
.category_wrapper {
    width: 70rem;
    position: relative;
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    display: flex;
    flex-direction: column;

    .category_select {
        font-size: 2rem;
    }
    .category_text {
        font-size: 1.6rem;
        color: var(--color-black);
        margin-left: 0.8rem;
    }
}
