$gray-color: #a6a7ab;
$button-secondary-color: #2d87f3;

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    padding: 5px 16px;
    font-size: 1.6rem;
    font-weight: 700;
    cursor: pointer;
    background-color: var(--color-white);
    border: 1px solid transparent;
    user-select: none;

    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}
.left-icon {
    width: 24px;
    text-align: left;
    margin-right: 4px;
}
.right-icon {
    width: 24px;
    text-align: right;
    margin-left: 4px;
}
.primary {
    border-color: var(--color-primary);
    color: var(--color-white);
    background-color: var(--color-primary);

    &:hover {
        color: var(--color-white);
        opacity: 0.7;
    }
}
.secondary {
    color: var(--color-white);
    background-color: var(--color-secondary);

    &:hover {
        opacity: 0.8;
    }
}
.danger {
    color: var(--color-white);
    background-color: var(--color-danger);

    &:hover {
        opacity: 0.8;
    }
}
.outline {
    border-color: $gray-color;
    background-color: var(--color-white);
    color: var(--color-black);

    &:hover {
        opacity: 0.8;
    }
}
.rounded {
    border-radius: 8px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
}
.small {
    min-width: 66px;
    padding: 4px 6px;
}
.medium {
    min-width: 100px;
    padding: 9px 16px;
}
.large {
    min-width: 140px;
    padding: 14px 16px;
}
.serviceBtn {
    position: absolute;
    bottom: 14px;
}
.warning {
    border-color: 1px solid transparent;
    color: var(--color-white);
    background-color: rgba(33, 90, 206, 0.75);

    &:hover {
        opacity: 0.8;
    }
}
.margin {
    margin-right: 0.8rem;
}
