.community_wrapper {
    position: relative;
    // background-color: var(--bg-light);
    // min-height: 100vh;
}
.community_bg {
    position: fixed;
    background-color: var(--bg-light);
    background-size: cover;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    z-index: -1;
}
