.wrapper {
    background-color: var(--color-white);
    min-height: 50rem;
    border: 1px solid transparent;
    box-shadow: 1px 1px 2px var(--box-shadow-default);
    border-radius: var(--default-border-radius);
}
.form_label {
    color: var(--color-icon);
    font-size: 1.6rem;
    padding: 0.8rem 0;
}
.form_info {
    color: var(--color-black);
    font-size: 1.6rem;
    padding: 0.8rem 0;
}
.right_section {
    border-left: 1px solid var(--color-icon);

    .avatar {
        width: 18rem;
        height: 18rem;
        object-fit: contain;
        border-radius: 50%;
    }
}
