@import 'normalize.css';

:root {
    --color-primary: #38b3d1;
    --color-secondary: #909090;
    --color-black: #333;
    --color-red: red;
    --color-danger: #dc3545;
    --text-color: #333;
    --color-white: #fff;
    --color-overlay-primary: rgba(0, 0, 0, 0.4);
    --color-separate: #1f4d91;
    --color-icon: #a6a7ab;
    --color-gray: #f1f1f2;
    --color-primary-bold: #0e424f;
    --color-blue-bold: #1c4c93;
    --color-primary-light: rgba(45, 165, 195, 0.9);
    --bg-form-section-left: linear-gradient(-90deg, #0a81c6, #0659b1);
    --color-default-link: #0000ee;
    --bg-chat-input: #ecebeb;
    --bg-gray-hover: #bcbcbc;
    --bg-light: #f4f7fc;
    --bg-profile: #f5f5f5;
    --box-shadow-default: rgb(0 0 0 / 12%) 0px 2px 12px;

    --default-header-height: 80px;
    --default-header-spacer: 100px;
    --default-border-radius: 8px;
    --default-border-color: #eeeeee;
    --section-login-height: 680px;
    --font-family: Arial, Helvetica, sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    margin-top: 60px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

ul {
    list-style: none;
}

button,
input {
    outline: none;
    border: none;
}
.container {
    max-width: 1380px !important;
}
.primary {
    color: var(--color-primary) !important;
}
.bg-primary {
    background-color: var(--color-primary) !important;
}
.bg-secondary {
    background-color: var(--color-secondary) !important;
}
.secondary {
    color: var(--color-black);
}
.separate {
    width: 40px;
    border-bottom: 3px solid var(--color-separate);
    padding: 6px 0;
}
.hide {
    display: none !important;
}
.disabled {
    cursor: default !important;
    opacity: 0.6;
    color: var(--color-gray);

    &:hover {
        background-color: var(--color-white) !important;
    }
}
.blur {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    z-index: 300;
}
.blur_overllay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
}
.error_message {
    position: absolute;
    color: red;
    font-size: 1.45rem;
}
.page-link {
    font-size: unset !important;
    color: var(--color-primary) !important;
}
.table > thead {
    vertical-align: middle;
    text-align: center;
}
tr {
    vertical-align: middle;
    text-align: center;
}
