@import 'normalize.css';

html {
    font-size: 62.5%;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
