@import 'normalize.css';

:root {
    --color-primary: #0e719f;
    --color-black: #333;
    --text-color: #fff;
    --color-white: #fff;

    --default-header-height: 60px;
    --default-header-spacer: 100px;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

ul {
    list-style: none;
}

button,
input {
    outline: none;
    border: none;
}

.container {
    max-width: 1150px;
    width: 100%;
    display: flex;
    margin: 0 auto;
}
