$border-item: 1px solid rgb(228, 232, 236);
$box-shadow: rgb(40 74 117 / 8%) 0px 5px 12px;
$border-hover: 1px solid rgb(211, 216, 221);
$box-shadow-hover: rgba(40, 73, 117, 0.199) 0px 5px 10px;

.header {
    font-size: 32px;
    line-height: 42px;
    letter-spacing: -1px;
    font-weight: 700;
    color: var(--color-separate);
    margin-bottom: 30px;
}

.tool-wrapper {
    cursor: pointer;
    padding: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: $border-item;
    background-color: var(--color-white);
    border-radius: 6px;
    box-shadow: $box-shadow;
    text-decoration: none;
    .tool-img {
        width: 80px;
        height: 80px;
        object-fit: contain;
    }
    .content-wrapper {
        padding-left: 16px;
        overflow: hidden;
    }
    .tool-content {
        display: -webkit-box;
        overflow: hidden;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        -webkit-line-clamp: 3;
        color: var(--text-color);
        font-size: 2rem;
        line-height: 2.6rem;
        font-weight: 700;
        margin-top: 4px;
    }
}
.tool-wrapper:hover {
    border: $border-hover;
    box-shadow: $box-shadow-hover;
}
