.tools-wrapper {
    max-width: 1160px;
    margin: auto;
}
@media (max-width: 575px) {
}
@media (min-width: 576px) and (max-width: 767px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 992px) and (max-width: 1399px) {
}
@media (min-width: 1400px) {
    .tools-wrapper {
        max-width: 1380px;
        margin: auto;
    }
}
