.tools-wrapper {
    max-width: 1160px;
    margin: auto;
}
.tool-item {
    margin-bottom: 40px;
    padding: 0px 20px;
}
@media (max-width: 575px) {
    .tool-item {
        padding: 0px 35px;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .tool-item {
        padding: 0px 25px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 992px) and (max-width: 1399px) {
    .tools-wrapper {
        margin: 10px auto auto auto;
    }
}
@media (min-width: 1400px) {
    .tools-wrapper {
        max-width: 1380px;
        margin: 40px auto auto auto;
    }
}
