.categories-wrapper {
    width: 1160px;
    margin: 0 auto auto auto;
}
.category-item {
    margin-bottom: 40px;
    padding: 0px 20px;
}
@media (max-width: 575px) {
    .category-item {
        padding: 0px 35px;
    }
    .categories-wrapper {
        max-width: 100%;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .category-item {
        padding: 0px 25px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 992px) and (max-width: 1399px) {
    .categories-wrapper {
        margin: 10px auto auto auto;
    }
}
@media (min-width: 1400px) {
    // .categories-wrapper {
    //     max-width: 1380px;
    //     margin: 40px auto auto auto;
    // }
}
