$border-item: 1px solid rgb(228, 232, 236);
$box-shadow: rgb(40 74 117 / 8%) 0px 5px 12px;
$border-hover: 1px solid rgb(211, 216, 221);
$box-shadow-hover: rgba(40, 73, 117, 0.199) 0px 5px 10px;
.categories-header {
    width: 100%;
    margin: 0px auto 20px auto;
    max-width: 740px;
    .header {
        font-size: 32px;
        line-height: 42px;
        padding-bottom: 3rem;
        letter-spacing: -1px;
        font-weight: 700;
        color: var(--color-separate);
    }
    .search-wrapper {
        padding: 16px 0;
        position: relative;
        display: flex;
        .categories-search {
            box-shadow: var(--box-shadow-default);
            font-size: 1.8rem;
            padding: 8px 16px 8px 48px;
        }
        .search-icon {
            position: absolute;
            top: 50%;
            left: 18px;
            display: inline-flex;
            cursor: default;
            transform: translateY(-50%);
        }
    }
}

.categories-wrapper {
    max-width: 1160px;
    margin: auto;
    padding: 0;
    .category-item {
        margin-bottom: 40px;
        padding: 0px 15px;
        .category-wrapper {
            height: 145px;
            padding: 16px;
            display: flex;
            box-sizing: border-box;
            flex-direction: column;
            -webkit-box-align: center;
            align-items: center;
            border: $border-item;
            background-color: var(--color-white);
            border-radius: 6px;
            box-shadow: $box-shadow;
            cursor: pointer;
            text-decoration: none;
            .category-img {
                width: 63px;
                height: 63px;
                object-fit: contain;
                margin-bottom: 8px;
            }
            .category-content {
                display: -webkit-box;
                overflow: hidden;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                text-align: center;
                word-break: break-word;
                font-size: 16px;
                line-height: 22px;
                font-weight: 700;
                margin-bottom: 0;
                color: var(--text-color);
            }
        }
        .category-wrapper:hover {
            border: $border-hover;
            box-shadow: $box-shadow-hover;
        }
    }
}
