$background: #f1f1f1;
.row-wrapper {
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: $background;
    margin: 0 -7.5px;
    margin-top: -4rem;
    .professor-wrapper {
        max-width: 1160px;
        margin: auto;
        padding: 0;
        .professor-item {
            padding: 0 15px;
            margin-bottom: 4rem;
            .professor-content {
                background: rgba(255, 255, 255, 0.8);
                padding: 0 15px;
                min-height: 440px;
                .professor-image {
                    width: 260px;
                    margin: 0 -15px 0 -15px;
                }
                .professor-info {
                    padding: 0 -15px;
                    .professor-role {
                        margin: 15px 0 8px;
                        font-size: 1.6rem;
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 1;
                    }
                    .professor-name {
                        font-size: 2.2rem;
                        font-weight: bold;
                        margin-bottom: 15px;
                        line-height: 2.6rem;
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2;
                    }
                    .professor-description {
                        word-wrap: break-word;
                        white-space: normal;
                        overflow: hidden;
                        display: -webkit-box;
                        text-overflow: ellipsis;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 3;
                    }
                }
            }
        }
    }
}
