$bg-form-login: #dae2fc;
$color-forger-password: rgb(78, 78, 250);

.wrapper {
    background-color: $bg-form-login;
    width: 100%;
    height: var(--section-login-height);
    border-right: 1px solid transparent;
    flex: 1;

    .form-title {
        margin-top: 7.4%;
        margin-left: 3%;
    }
    .form-group {
        margin-left: 3%;

        .form-input {
            width: 96%;
        }
    }
    .password-save-wrapper {
        margin-left: 3%;
        width: 94%;

        .form-check {
            width: 1.8rem;
            height: 1.8rem;
        }
        .form-forget-password {
            color: $color-forger-password;
            font-weight: bold;
        }
    }
}
.custom-btn {
    padding: 0.8rem 0;
    margin-top: 3%;
    margin-left: 3%;
    width: 94%;
}
