.wrapper {
    margin-top: 100px;
    .div-form{
        margin-bottom: 10px;
        .sl{
            padding: 12px;
            font-size: 1.7rem;
        }
    }
}
.div_content{
    max-width: 30rem;
}
.info_content{
    color: var(--text-color);
    font-size: 1.6rem;
    width: 100%;
}
.abc{
    font-size: 10px;
    width: 10px;
    height: 15px;
}
