.professor-content {
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
.professor-detail {
    margin-bottom: 12px;
    display: block;
}
