$bg-color: #f0f8fa;
.carousel-professor {
    .professor-card {
        border-radius: 11px;
        margin: 30px 30px 30px 30px;
        background-color: $bg-color;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        padding: 30px;
        -webkit-border-radius: 11px;
        margin-bottom: -5px;
        position: relative;
        .professor-image {
            width: 150px;
            border-radius: 100px;
            margin: 0 20px 0px 10px;
        }
        .professor-info {
            margin: 0 0 0 10px;
            height: 18rem;
            overflow: hidden;
            display: block;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 4;
            color: var(--text-color);
            .professor-detail {
                margin-bottom: 12px;
            }
        }
        .about-professor {
            font-size: 2.5rem;
            font-weight: 600;
            padding-bottom: 10px;
        }
    }
}
