$color-text: #9f9f9f;
$border: #dedddd;
.container {
    padding-top: 10px;
    .professor-wrapper {
        padding: 0 16px 50px 0;
        .biography {
            margin-bottom: 30px;
        }

        p {
            margin: 0 0 27px 0;
            color: $color-text;
            font-size: 1.6rem;
            line-height: 2.6rem;
        }

        ul.insurance-list {
            padding-left: 0;
            padding-right: 27px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
        }

        ul.insurance-list li {
            border-bottom: 1px solid $border;
            padding: 4px 0;
            padding-left: 0;
            margin-bottom: 10px;
            display: flex;
            justify-content: space-between;
        }

        ul.insurance-list b {
            flex: 2;
        }

        ul.insurance-list span {
            flex: 1;
            text-align: left;
            color: $color-text;
        }
    }
    .sidebar-wrapper {
        padding: 0 16px;
        .professor-image {
            max-width: 100%;
        }
        .contact-btn {
            position: relative;
            width: 100%;
            bottom: -20px;
        }
        .review-btn {
            position: relative;
            width: 100%;
            bottom: -30px;
        }
    }
}
