.professor-wrapper {
    max-width: 1160px;
    margin: auto;
    padding: 0;
}
.img-wrapper {
    height: 260px;
}
.professor-item {
    margin-bottom: 40px;
    padding: 0px 16px;
}
@media (max-width: 575px) {
    .professor-item {
        padding: 0px 40px;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .professor-item {
        padding: 0px 25px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 992px) and (max-width: 1399px) {
}
@media (min-width: 1400px) {
    .professor-wrapper {
        max-width: 1380px;
    }
    .img-wrapper {
        height: 300px;
    }
}
