.wrapper {
    height: 93vh;
    background-color: var(--color-white);
    border: 1px solid transparent;
    box-shadow: var(--box-shadow-default);
    border-radius: 8px;

    .title_wrapper {
        padding: 1.2rem;

        .title_icon {
            font-size: 3rem;
            color: var(--color-primary);
            padding-right: 1rem;
        }
        .title_text {
            font-size: 1.8rem;
            font-weight: bold;
            margin-left: 0.4rem;
            color: var(--color-primary);
        }
    }
    .category_wrapper {
        cursor: pointer;

        &:hover {
            background-color: var(--color-gray);
        }
    }
}
