.team-channel-header__name-wrapper {
    flex: 3;
    display: flex;
    align-items: center;
    overflow-x: auto;
    max-width: 500px;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@media screen and (min-width: 1070px) {
    .team-channel-header__name-wrapper {
        max-width: 700px;
    }
}

.team-channel-header__name-wrapper::-webkit-scrollbar {
    display: none;
}

.team-channel-header__name-multi {
    display: flex;
    align-items: center;
    margin-right: 8px;
}

.team-channel-header__name-multi:nth-child(3) {
    margin-right: 0px;
}

.team-channel-header__name-wrapper .str-chat__avatar {
    margin-right: 8px;
}

.team-channel-header__name.user {
    font-weight: bold;
    font-size: 14px;
}

.team-channel-header__right {
    display: flex;
    align-items: center;
}

.team-channel-header__right-pin-wrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.team-channel-header__right svg {
    margin-left: 16px;
    margin-right: 4px;
}

.team-channel-header__right-text {
    font-size: 1.6rem;
    color: #858688;
    font-weight: bold;
}
.team-channel-header__name {
    font-weight: bold;
    font-size: 2rem;
}
