$blue: #1c4c93;
$lightblue: #3d78e0;
.wrapper {
    padding: 25px 0;
    width: 100%;
    margin-bottom: 4rem;
    flex: 0.3;
}
.item-wrapper {
    position: relative;
    padding-top: 30px;
    .arrow-icon {
        margin: 0 10px 0 10px;
        font-size: 1.8rem;
        color: var(--color-white);
    }
    .home-icon {
        color: var(--color-hidden);
    }
    .navigator-item {
        display: inline-block;
        color: var(--color-hidden);
        font-size: 1.8rem;
        margin-bottom: 0;
    }
}
.bgPrimaryBold {
    background-color: $blue !important;
}
