.tool-wrapper {
    .introduction {
        font-size: 2rem;
        line-height: 2.4rem;
        margin-bottom: 30px;
        font-weight: 500;
        color: var(--color-secondary);
    }
    .form-group {
        margin-bottom: 35px;
        .form-input {
            max-width: 750px;
            font-size: 1.8rem;
            line-height: 1.6rem;
            padding: 12px 16px;
            border-radius: 6px;
            margin-top: 5px;
            margin-bottom: 4px;
        }
    }
    .custom-btn {
        border-radius: 2px;
    }
}
.tool-img {
    max-width: 100%;
    min-height: 300px;
    margin-left: 10px;
}
