$star: orange;
$border: #dedddd;
.review-wrapper {
    margin: 20px 0 54px 0;
    float: left;
    width: 100%;
    .review {
        text-align: center;
        margin-bottom: 50px;
        margin-top: 20px;
    }
    .review-list {
        margin: 0 110px 0 110px;
        .review-item {
            margin-bottom: 35px;
        }
        .review-title {
            font-size: 1.8rem;
            font-weight: 550;
            margin-bottom: 10px;
        }
        .reviewer {
            font-size: 1.8rem;
            line-height: 2.4rem;
        }
        .border {
            border-top: 1px solid $border;
            flex-grow: 1;
            margin: auto;
        }
        .review-content {
            margin-bottom: 5px;
        }
        .review-score {
            margin-left: -3px;
            .star {
                color: $star;
            }
        }
    }
}

.review-wrapper .review h2 {
    line-height: 1;
    margin-bottom: 27px;
    font-size: 2.8rem;
    font-weight: 400;
}
