.wrapper {
    background-color: var(--color-white);
    height: 38rem;
    border: 1px solid transparent;
    box-shadow: 1px 1px 2px var(--box-shadow-default);
    border-radius: var(--default-border-radius);
}
.form_label {
    color: var(--color-icon);
    font-size: 1.6rem;
    padding: 1.95rem 0;
}
.form_input_group {
    padding: 0.8rem 0;
    margin-top: 0.8rem;
    display: flex;
    flex-direction: column;

    .form_input {
        color: var(--color-black);
        background-color: var(--color-white);
        border: 1px solid var(--color-black);
        border-radius: var(--default-border-radius);
        box-shadow: 1px 1px 2px var(--box-shadow-default);
        text-indent: 0.8rem;
        padding: 0.6rem 0;
        width: 100%;

        &:focus {
            border-color: var(--color-primary);
        }
    }
}
